.container{
    text-align: center;
    overflow: auto;
    height: 50vh;
}

.buttonContainer{
    position: absolute;
    bottom: 20px;
    left: 22.5%;
    justify-content: end;
}
.button{
    width: 25vh;
    font-size: 12px;
}
.notFound{
    height: 70vh;
}